
   <div class="contenedor">

        <mat-form-field>
          <input matInput [(ngModel)]="puntoX1" type="number" placeholder="Punto X1">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="puntoY1" type="number" placeholder="Punto Y1">
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]="puntoX2" type="number" placeholder="Punto X2">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="puntoY2" type="number" placeholder="Punto Y2">
        </mat-form-field>



    <button mat-raised-button color="primary" (click)="calcular()">Calcualr</button>

    <h1>
        La distancia es {{ distancia }}
    </h1>

   </div>